<html>
				<head>
					<link rel="stylesheet" href="static/css/style.css">
				</head>
				<body>
					<h1>Login Page</h1>
				<form action="#" method="post">
						<label>
							Username
							<i class="fas fa-user"></i>
						</label><br>
						<input placeholder="Username" class="form-control" name="username" type="text" required="">
					</div>
		<br>
						<label>
							Password
							<i class="fas fa-unlock-alt"></i>
						</label><br>
						<input placeholder="Password" class="form-control" name="password" type="password" required="">
					</div><br>
					<input type="submit" name="submit" value="Log In">
					</p>
				</form>
			</body>
</html>
	